body {
	color: yellow;
	font-family: times new roman, times, serif;
	font-size: 16pt;
	margin: 0 auto;
	}




h1.title {
	font-size: 48pt;
	font-variant: small-caps;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px; 
	text-align:center;
	}




h2.mainpage {
	font-size: 28pt;
	font-weight: bold;
	text-decoration: underline;
	font-variant: small-caps;
	padding-bottom: 0 auto;
	margin-bottom: 0 auto;

}
h3.title2 { font-size: 18pt; font-variant: small-caps; }




a { text-decoration:none; font-weight: none; }
a:link, a:visited { color: #fff; }	
a:link.resume , a:visited.resume  { color:black; text-decoration:underline; }	
a:hover, a:hover.resume { color: #FFFFFF; background-color: #87CEFA; text-decoration: underline; }	


p.tag { text-align:center; font-size: 14pt; font-weight: normal; text-decoration: none; font-variant: small-caps; }
a:link.tag, a:visited.tag { color:black; text-decoration: none; }
a:hover.tag { color: #fff; background-color:#036; text-decoration: underline; }



.printonly { display:none; }
.pagebreak { display:none; }
#printheader { display:none; }


#top {width:1240px; margin:0 auto; background:#000000; border-left: solid 2px white; border-right: solid 2px white;  }
#header { background:#87CEFA; padding:4px 12px;  }
#bar { background:#000000; padding:4px 10px; text-align:center; }
#bar li { display:inline; list-style-type:none; padding-left:50px; padding-right:50px; font-size:20pt; font-weight:bold; font-variant:small-caps;}
#main { background:#000000; padding-left:10px; padding-right:10px;}
#leftside {background:#000000; float:left; width:275px; padding:5px;  }
#footer {background:#87CEFA; text-align:center; font-size:24pt; font-weight:bold; padding-top:2px; }
#resume {width: 900px;}

.pictures { border: solid 3px yellow; background: #87CEFA; width: 250px; padding: 10px; margin-right: auto; margin-left: auto; }


















 
 
